In [13]:
import pandas as pd
import numpy as np

csvpath="purchase_data.csv"
purchase_data=pd.read_csv(csvpath)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
#total player
unique_player= purchase_data["SN"].nunique()
data={'Total Players':[unique_player]}
unique_player_result= pd.DataFrame(data)
unique_player_result

   Total Players
0            576

In [16]:
#number of unique items, average price, number of purchases, total rev
unique_items=purchase_data["Item ID"].nunique()

total_purchases=purchase_data["SN"].count()
avg_price=sum(purchase_data["Price"])/total_purchases
total_rev=sum(purchase_data["Price"])
data2=({'Number of Unique Item':[unique_items],'Average Price':[avg_price],'Number of Purchases':[total_purchases],'Total Revenue':[total_rev]})
purchasing_analysis=(pd.DataFrame(data2)).round(2)
purchasing_analysis

   Number of Unique Item  Average Price  Number of Purchases  Total Revenue
0                    183           3.05                  780        2379.77

In [20]:
#percentage and count of male, female, and other/nonedisclosed players
#unique_gender=purchase_data["Gender"].value_counts()
unique_gender=purchase_data.groupby('Gender')['SN'].nunique()

#percentage of player
percentage=(unique_gender/unique_player)*100
gender_demographics=pd.DataFrame({'Total Count':unique_gender,'Percentage of Players':percentage}).round(2)
gender_demographics

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [21]:
#purchase count, avg. purchase price, total purchase value, avg total purchase per person by gender
purchase_count=purchase_data.groupby("Gender")["Purchase ID"].nunique()

#total purhcase value
total_rev_gender=purchase_data.groupby('Gender')["Price"].agg('sum')
#avg purchase price
avg_purchase_price=total_rev_gender/purchase_count

#avg total purchase per person
avg_total_purchase_person=total_rev_gender/unique_gender

purchase_analysis_gender=pd.DataFrame({'Purchase Count':purchase_count,'Average Purchase Price':avg_purchase_price,'Total Purchase Value':total_rev_gender,'Avg Total Purchase per Person':avg_total_purchase_person}).round(2)
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [33]:
#Age Demographics


#player count by age
player_count=purchase_data.groupby("Age")['SN'].nunique()
#Calculate the numbers and percentages by age group
percentage_age=(player_count/unique_player)*100
age_demographics=pd.DataFrame({'Total Count':player_count,'Percentage of Players':percentage_age}).round(2)
bins = pd.cut(age_demographics['Age'], [0, 10, 14, 19, 24, 29, 34, 39])
age_group=gender_demographics.groupby(bins)['Percentage of Players']
age_group

ValueError: Length of grouper (39) and axis (3) must be same length

In [ ]:
#Purchasing Analysis (Age)

In [ ]:
#purchase count per player
a=purchase_data.groupby("SN").nunique()
purchase_count_player=a["Item ID"]
purchase_count_player

#total purchase value per player
total_purchase_player=purchase_data.groupby('SN')["Price"].agg('sum')

#average purchase price
avg_price_player=total_purchase_player/purchase_count_player
#avg_price_player
purchase_count_player

In [ ]:
#Retrieve the Item ID, Item Name, and Item Price columns
most_popular_item=purchase_data[['Item ID','Item Name','Price']]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#purchase count by Item
b=purchase_data.groupby("Item Name").nunique()
purchase_count_item=b["Purchase ID"]

#total purchase value
total_val_item=purchase_data.groupby('Item Name')["Price"].agg('sum')
total_val_item

new_table=purchase_data[['Item ID,'Item Name','purchase_count_item','Price','Total_val_item']]
new_table