In [13]:
import pandas as pd
import numpy as np
import pandas as pd
from IPython.display import display

pd.options.display.max_columns = None
pd.set_printoptions(max_columns=800)


csvpath="purchase_data.csv"
purchase_data=pd.read_csv(csvpath)
purchase_data

AttributeError: module 'pandas' has no attribute 'set_printoptions'

In [9]:
#total player
unique_player= purchase_data["SN"].nunique()
data={'Total Players':[unique_player]}
unique_player_result= pd.DataFrame(data)
unique_player_result

   Total Players
0            576

In [11]:
#number of unique items, average price, number of purchases, total rev
unique_items=purchase_data["Item ID"].nunique()

total_purchases=purchase_data["SN"].count()
avg_price=sum(purchase_data["Price"])/total_purchases
total_rev=sum(purchase_data["Price"])
data2={'Number of Unique Item':[unique_items],'Average Price':[avg_price],'Number of Purchases':[total_purchases],'Total Revenue':[total_rev]}
purchasing_analysis=pd.DataFrame(data2)
purchasing_analysis

   Number of Unique Item  Average Price  Number of Purchases  Total Revenue
0                    183       3.050987                  780        2379.77

In [4]:
#percentage and count of male, female, and other/nonedisclosed players
unique_gender=purchase_data.groupby("Gender").nunique()
gender_count=unique_gender["SN"]
percentage=(gender_count/unique_player)*100

In [5]:
#purchase count, avg. purchase price, total purchase value, avg total purchase per person by gender
purchase_count=unique_gender["Purchase ID"]
purchase_count
#total purhcase value
total_rev_gender=purchase_data.groupby('Gender')["Price"].agg('sum')
#avg purchase price
avg_purchase_price=total_rev_gender/purchase_count
avg_purchase_price
#avg total purchase per person
avg_total_purchase_person=total_rev_gender/gender_count
avg_total_purchase_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [6]:
#purchase count per player
a=purchase_data.groupby("SN").nunique()
purchase_count_player=a["Item ID"]
purchase_count_player

#total purchase value per player
total_purchase_player=purchase_data.groupby('SN')["Price"].agg('sum')

#average purchase price
avg_price_player=total_purchase_player/purchase_count_player
avg_price_player

SN
Adairialis76       2.280000
Adastirin33        4.480000
Aeda94             4.910000
Aela59             4.320000
Aelaria33          1.790000
Aelastirin39       3.645000
Aelidru27          1.090000
Aelin32            2.993333
Aelly27            3.395000
Aellynun67         3.740000
Aellyria80         3.080000
Aelollo59          2.815000
Aenarap34          2.960000
Aeral43            4.400000
Aeral68            4.000000
Aeral97            4.800000
Aeralria27         4.090000
Aeralstical35      2.960000
Aeri84             1.610000
Aerillorin70       3.330000
Aerithllora36      4.320000
Aerithnucal56      4.400000
Aerithnuphos61     4.910000
Aerithriaphos45    1.560000
Aerithriaphos46    2.180000
Aesri53            1.760000
Aesty53            1.955000
Aestysu37          2.690000
Aesur96            2.210000
Aesurstilis64      1.030000
                     ...
Undosia27          3.770000
Undosian34         4.150000
Undotesta33        4.740000
Wailin72           2.730000
Yadacal26          3.270000
Yadaisuir65        4.090000
Yadam35            2.480000
Yadanu52           2.380000
Yadaphos40         2.675000
Yalae81            3.345000
Yalaeria91         1.060000
Yaliru88           3.030000
Yalo85             3.650000
Yalostiphos68      4.400000
Yana46             3.550000
Yarithllodeu72     3.750000
Yarithrgue83       3.450000
Yarithrin84        4.140000
Yarithsurgue62     4.940000
Yarolwen77         4.430000
Yasrisu92          3.440000
Yastyriaphos75     4.750000
Yasur35            4.480000
Yasur85            1.100000
Yathecal72         3.460000
Yathecal82         2.073333
Yathedeu43         3.010000
Yoishirrala98      4.580000
Zhisrisu83         3.945000
Zontibe81          2.676667
Length: 576, dtype: float64

In [7]:
#Retrieve the Item ID, Item Name, and Item Price columns
most_popular_item=purchase_data[['Item ID','Item Name','Price']]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#purchase count by Item
b=purchase_data.groupby("Item Name").nunique()
purchase_count_item=b["Purchase ID"]

#total purchase value
total_val_item=purchase_data.groupby('Item Name')["Price"].agg('sum')
total_val_item

new_table=purchase_data[['Item ID,'Item Name','purchase_count_item','Price','Total_val_item']]
new_table

SyntaxError: invalid syntax (<ipython-input-7-7f3cf9fcaf2c>, line 13)