In [16]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
gkey = "AIzaSyBqQ_HcLL4R6VYAusNayy5bCUnO6EsVkIY"

In [17]:
# Import cities file into the cities_pd DataFrame
cities= pd.read_csv("cities.csv")
cities.head()

#cities_pd = pd.DataFrame()

         Paris
0       London
1         Oslo
2      Beijing
3       Moscow
4  Vladivostok

In [22]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities['Lat']=""
cities['Lng']=""
cities['airport name']=""
cities['airport address']=""
cities['airport rating']=""
cities.head()

         Paris Lat Lng airport name airport address airport rating
0       London
1         Oslo
2      Beijing
3       Moscow
4  Vladivostok

In [23]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`
gkey = "AIzaSyBqQ_HcLL4R6VYAusNayy5bCUnO6EsVkIY"
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
targetcities=cities["Paris"]
geo_data = requests.get(base_url).json()

# Print the json
print(geo_data)
# for index, row in cities.iterrows():
#     location = row['Paris']
#     params['keyword'] = lat/long
#     print(f"Retrieving Results for Index {index}: {location}.")
#     response = requests.get(base_url).json()
#     results = response['results']

{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears