In [16]:
import pandas as pd
csv_path="ted_talks.csv"
ted_df=pd.read_csv(csv_path)
ted_df.head()
#min view
min_view=ted_df["views"].min()
min_view
#max view
max_view=ted_df["views"].max()
max_view
min_view
#creating bin

50443

In [17]:
max_view

47227110

In [18]:
#create bin
bins=[50443, 4700000, 4900000,5000000,6000000,7000000,8000000,9000000,10000000,47227110]
group_names= ["J","I","H","G","F","D","C","B","A"]
#new column "view group"
ted_df["view group"]=pd.cut(ted_df["views"],bins,labels=group_names)
ted_df.head()

ted_df=ted_df.groupby("view group")
ted_df.mean()

              comments     duration  languages         views
view group
J           172.028771   823.081381  26.747637  1.305004e+06
I           270.454545   818.818182  35.545455  4.811231e+06
H           425.666667   820.000000  38.166667  4.941061e+06
G           374.375000   882.937500  37.500000  5.507118e+06
F           346.625000   746.437500  40.375000  6.402027e+06
D           591.714286  1002.285714  39.071429  7.463538e+06
C           549.250000   719.500000  37.166667  8.503058e+06
B           583.428571   865.285714  38.285714  9.338224e+06
A           996.882353   963.264706  43.470588  1.795655e+07